blinker
click
colorama
Flask
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
plotly
plotly-express
python-dateutil
pytz
scipy
six
statsmodels
tenacity
tzdata
Werkzeug
zipp
gunicorn